<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Draw a Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>

    <div class="info" id="infoButton">
        <img src="{{ url_for('static', filename='images/info_50_50.png') }}" alt="Info Icon">
    </div>

    <div class="closeInfo" id="crossButton">
        <img src="{{ url_for('static', filename='images/cross_50_50.png') }}" alt="Info Icon">
    </div>

    <div class="info_overlay" id="info_overlay">
        <div class="container">
            <h1>   Welcome to the TRAIN YOUR MODEL WEBSITE! Explore the world of AI, create your neural network, and learn firsthand the impact of data quality on AI accuracy. </h1>

            <div class="canvas-instructions">
                <h2>Drawing Digits:</h2>
                <p>On the main page, you will find a two canvasses. The top canvas is used to make the samples to train the model.</p>
                <p>Use your mouse or touch input to draw the numbers shown to the right of the top canvas on the canvas.</p>
                <p>Click the Save button to save your drawing as a training sample for the selected digit.</p>
                <p>The Clear button can be used to clear the canvas if you make a mistake.
                </p>
            </div>

            <div class="canvas-instructions">
                <h2>Training the Model:</h2>
                <p>After collecting a sufficient number of training samples (MORE THAN 10), click
                    the Train Model button on the right side.</p>
                <p>NOTE: You can add as many samples as you like, they all add up. This is especially useful if you are getting bad results in the prediction section.</p>
                <p>The model will be trained using the collected data.</p>
                <p>After training is complete you will get an alert, then the model can be used to predict digits.</p>
            </div>

            <div class="canvas-instructions">
                <h2>Predicting Digits:</h2>
                <p>Scroll down to the Prediction section, the lower section of the web app.</p>
                <p>You will find another canvas, the bottom canvas</p>
                <p>Draw a digit on this canvas using your mouse or touch input.</p>
                <p>Click the Predict button to see the model's prediction for the drawn digit.</p>
                <p>The predicted digit will be displayed below the button.</p>
            </div>
        </div>
    </div>

    <h1 class="title">TRAIN YOUR MODEL</h1>

    <div class="topArea">
        <div class="leftSection">
            <canvas class="UIstyle" id="draw-canvas"></canvas>
        </div>
        <div class="rightSection">
            <div class="numsaveclear">
                <h1 class="UIstyle number" id="numberToDraw">{{ random_number }}</h1>
                <div class="saveclear">
                    <button class="UIstyle " id="saveDrawing">Save</button>
                    <button class="UIstyle topAreaClearbtn" id="clearCanvas">Clear</button>
                </div>
            </div>
            <button class="UIstyle" id="trainModel">Train Model</button>
        </div>
    </div>

    <div class="bottomArea">
        <div class="leftSection">
            <canvas class="UIstyle" id="draw-canvas-predict"></canvas>
        </div>
        <div class="rightSection">
            <button class="UIstyle" id="predictButton">Predict</button>
            <div class="clearpred">
                <h1 class="UIstyle number" id="predictionResult">0</h1>
                <button class="UIstyle bottomAreaClearbtn" id="clearCanvasPred">Clear</button>
            </div>
        </div>
    </div>

    <div class="chart">
        <div id="chartContainer">
            <div class="numlabelContainer">
                <div class="chart_bar" id="num0"></div>
                <h1 class="numlabel">0</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num1"></div>
                <h1 class="numlabel">1</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num2"></div>
                <h1 class="numlabel">2</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num3"></div>
                <h1 class="numlabel">3</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num4"></div>
                <h1 class="numlabel">4</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num5"></div>
                <h1 class="numlabel">5</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num6"></div>
                <h1 class="numlabel">6</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num7"></div>
                <h1 class="numlabel">7</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num8"></div>
                <h1 class="numlabel">8</h1>
            </div>
            <div class="numlabelContainer">
                <div class="chart_bar" id="num9"></div>
                <h1 class="numlabel">9</h1>
            </div>
        </div>
    </div>

    <footer>
        <p>Created by <a href="#">© Artem Dumchev</a></p>
    </footer>

</body>

</html>