<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict a Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <h1>Predict a Number</h1>
    <canvas id="draw-canvas" width="400" height="400" style="border: 1px solid #000;"></canvas>
    <button id="predictButton">Predict</button>
    <button id="clearCanvas">Clear</button>
    <p id="predictionResult">Prediction: </p>
    <script>
    </script>
    </body>
</html> -->
